/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { min-height: 100vh;
            height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-sidenav, mat-sidenav-container mat-sidenav-content{
    height: 100%;
    
}

mat-sidenav{
    width: 350px;
}

a{
    color:white;
}
a:hover{
    color:#eaeaea;
}

section{
    margin-top: 20px;
}